html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$primary-orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

$font-size-para: 15px;
$font: 'Overpass', serif;

%card-style {
    background-image: linear-gradient(10deg, $very-dark-blue, $dark-blue);
    max-width: 350px;
    min-width: 300px;
    height: 350px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 20px;
}

%circle-container{
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    // border: 2px solid red;
    display: flex;
    align-items: center;
    background-color: $dark-blue;
    margin-bottom: 30px;
}

%text-style{
        font-size: 15px;
        color: $light-grey;
        line-height: 25px;

}

%button-hover-state{
    color: $primary-orange;
    background-color: $white;
}

body {
    font-family: $font;
    color: $white;
    background-color: $very-dark-blue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.rating-card{
    @extend %card-style;
    .star{
        @extend %circle-container;
        
        img{
            padding-left: 2px;
        }
    }
    h1{
        color: $white;
    }
    
    .rating-text{
        @extend %text-style;
    }
    
    .rating-num{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        span{
            @extend %circle-container;
            padding: 18px;
            width: 15px;
            height: 15px;
            justify-content: center;
            color: $white;
            font-size: 15px;
            font-weight: bold;
            border: none;
        }
        span:hover{
            background-color: $primary-orange;
            cursor: pointer;
        }
        span.checked{
            background-color: $light-grey;
        }
    }
    
    .submit-button{
        width: 100%;
        button{
            width: 100%;
            padding: 12px;
            margin-bottom: 10px;
            border-radius: 20px;
            border: none;
            color: $white;
            background-color: $primary-orange;
            letter-spacing: 2px
        }
        button:hover {
            color: $primary-orange;
            background-color: $white;
            cursor: pointer;
        }
        
        
    }
    
}


.thank-card{
    @extend %card-style;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    .thank-image{
        margin-top: 40px;
        height: 40%;
        width: 50%;
    }
    .selected-bubble{
        background-color: $dark-blue;
        color: $primary-orange;
        padding: 10px 20px;
        border-radius: 20px;
        margin: 20px 0;
    }
    h2{
        margin-bottom: 10px;
    }
    .thank-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            @extend %text-style;
            text-align: center;
            padding: 5px;
            margin-bottom: 20px;
        }
    }
}

.hidden {
    display: none;
}

.attribution{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}